/* @override http://mark.reid.dev/files/css/screen.css */
/* @override 
  http://mark.reid.dev/files/css/screen.css
  http://mark.reid.name/files/css/screen.css
*/
/* screen.css
 *
 * A clean, simple stylesheet that aims for
 * a consistent vertical rhythm.
 *
 * Base font height: 16px
 * Base line length: 24px
 * 
 * AUTHOR: Mark Reid <mark@reid.name>
 */
/* @group Reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td,
abbr {
  margin: 0;
  padding: 0;
}
/* @end */
body {
  /*font-family: georgia,宋体,serif;*/
  font-family: georgia, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  background-color: whitesmoke;
  background-position: center -18em;
  background-repeat: repeat-x;
}
iframe {
  margin: 1em auto;
}
#video {
  text-align: center;
}
/* Hack via Joel Spolsky to make image rescaling nicer in IE */
img {
  -ms-interpolation-mode: bicubic;
}
/* IE6 ignores this and uses default size of 16pt */
html > body {
  font-size: 16px;
}
p {
  margin: 0 0 0 0;
  text-align: left;
}
.post > p {
  text-indent: 2em;
}
a {
  text-decoration: none;
  color: #005fbd;
}
a:hover {
  text-decoration: none;
  color: #005fbd;
}
a .pdf :before {
  margin-right: 1em;
  content: url(/files/css/icon_pdf.gif);
}
hr {
  border-top: 1px solid silver;
  border-bottom: none;
  padding: 0;
  margin: 1.46em 0 0 0;
}
sup {
  line-height: 1ex;
}
#site {
  max-width: 55em;
  margin: 1.5em auto 3em auto;
  line-height: 1.8em;
}
#page,
#disqus_thread {
  background: white;
  /*  background-image: url(grid.png); */
  padding: 3em 3em 1.5em 3em;
  border: 1px solid #ccc;
}
#page {
  position: relative;
}
/* More experimental C

#disqus_thread { padding-top: 2em; }

/* TODO
#page { counter-reset: section; }
#page h2:before {
  margin-left: -3.5ex;
  color: silver;
  content: "§" counter(section) ". ";
  counter-increment: section 2;
}
*/
/* @group FancyFirst */
.emphnext + p:first-letter,
p.emphfirst:first-letter {
  font-size: 48px;
  padding: 0 0.15em 0 0;
  margin: 0.05em 0 -0.15em 0;
  line-height: 1em;
  float: left;
}
.emphnext + p:first-line,
p.emphfirst:first-line {
  font-variant: small-caps;
  font-size: larger;
}
/* @end */
.right {
  float: right;
  clear: left;
}
.left {
  float: left;
  clear: right;
}
.inset {
  border: 1px solid silver;
  padding: 2px;
  margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset {
  margin-right: 0 !important;
}
.left.inset {
  margin-left: 0 !important;
}
.quiet {
  color: grey;
  font-size: 0.875em;
  line-height: 1.714em;
}
blockquote {
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #2a2e2e;
  font-size: 0.875em;
  line-height: 1.714em;
  border-left: 2px solid;
}
.note {
  padding-top: 0.5em;
  background-color: #fafaff;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
/* @group Table */
.highlighttable tbody {
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
table.neat {
  width: 80%;
  margin: 1.5em auto 1.5em auto;
  table-layout: fixed;
  border-spacing: 0;
}
table.neat tr {
  text-align: center;
}
table.neat th {
  font-weight: normal;
  background-color: #eeeeee;
}
table.neat td {
  background-color: white;
}
table.neat th.title {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  vertical-align: bottom;
  background-color: lightgrey;
}
caption {
  color: #333;
  font-size: 0.875em;
  margin: 0.875em auto 0 auto;
  line-height: 1.14em;
  text-align: justify;
}
/* @end */
/* @group Lists */
ul {
  margin-top: 1.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
  padding-left: 1.5em;
}
ul li {
  list-style-type: square;
  list-style-position: outside;
}
ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 1.5em 0;
  text-align: justify;
}
ul.compact {
  margin: 0;
  padding: 0;
}
ul.compact li {
  list-style: ;
  list-style-type: square;
  list-style-position: inside;
}
ul.compact li span.date {
  display: none;
  color: grey;
  width: 20%;
}
ul.compact li a {
  width: 70%;
}
/* @end */
/* @group Header */
#header,
#header a {
  color: black;
}
#header .hover {
  color: transparent;
}
#header:hover a {
  color: black;
}
#header:hover a:hover {
  text-decoration: none;
}
#header a:hover .hover {
  color: silver;
}
#header {
  font-variant: small-caps;
  line-height: 1;
  height: 2.5em;
  margin-top: .5em;
  margin-bottom: 20px;
  width: 100%;
  display: table;
}
#header .site-name {
  font-family: Palatino, georgia, "times new roman", serif;
  font-weight: normal;
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.8em;
}
#header ul {
  font-size: 18px;
  display: table-cell;
  text-align: right;
  vertical-align: bottom;
  line-height: 1;
}
#header ul li {
  display: inline;
}
#header ul li a {
  padding: 0 0.3em 0 0.3em;
  display: inline;
}
#header ul li a:hover {
  background: #222;
  border-radius: 3px;
  color: #fff;
}
#header .byline {
  color: silver;
  font-size: 10pt;
  line-height: 75%;
}
#header:hover .byline a {
  color: black;
  text-shadow: none;
}
#header:hover .byline a:hover {
  color: black;
  text-shadow: #aaa 1px 1px 2px;
}
/* @group Twitter */
#twitter_update_list {
  display: inline;
  margin: 0;
}
#twitter_update_list li {
  display: inline;
  margin: 0;
}
.twitter-title {
  display: inline;
  margin: 0;
}
.twitter-title a {
  display: inline;
}
/* @end */
body#Work #header a.work,
body#Home #header a.home,
body#Play #header a.play,
body#Info #header a.info,
body#Code #header a.code,
body#Past #header a.past,
body#Kith #header a.kith {
  border-bottom: 2px solid silver;
}
/* @end */
/* @group Footnotes */
.footnotes {
  color: grey;
}
.footnotes:hover {
  color: black;
}
.footnotes ol li {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: 75%;
  line-height: 1.5em;
}
.footnotes ol li > a {
  display: none;
}
/* @end */
/* @group Sections */
.section {
  font-size: 87.5%;
  line-height: 1.43em;
  margin-bottom: 1.43em;
  margin-top: 1.43em;
  margin-left: 7.5em;
  padding-right: 3em;
}
.section h1 {
  font-family: Palatino, georgia, serif;
  font-size: 100%;
  line-height: 1.43em;
  position: absolute;
  width: 6em;
  max-width: 6em;
  margin-left: -7.5em;
  font-weight: bold;
  font-variant: small-caps;
}
.section p {
  margin-bottom: 1.43em;
}
/* @end */
.list .title {
  font-weight: bold;
}
p.line {
  position: relative;
  margin: 0;
}
p.excerpt {
  margin: 0;
}
.comments {
  font-size: smaller;
  position: absolute;
  color: silver;
  right: 0;
  top: 0;
}
.excerpt {
  color: black;
}
/* @group Signature */
.signature {
  margin-top: 3em;
  position: relative;
}
.signature .author {
  font-variant: small-caps;
  font-style: normal;
  color: black;
  display: block;
  margin-bottom: 1.5em;
}
.signature .date {
  font-size: 87.5%;
  line-height: 1.5em;
  display: block;
  font-variant: small-caps;
  font-style: normal;
  position: absolute;
  right: 0;
  top: 0;
}
.signature .location {
  display: block;
  font-size: 87.5%;
  line-height: 1.5em;
  position: absolute;
  right: 0;
  top: 1.5em;
}
/* @end */
/* @group Disqus */
#disqus_thread {
  margin-top: 2.93em;
}
.dsq-comment-body {
  text-align: justify;
  line-height: 1.29em;
}
.dsq-comment {
  padding-top: 0 !important;
  margin-top: 1.7em !important;
  margin-bottom: 1.9em !important;
  background-image: none !important;
}
.dsq-comment-message {
  line-height: 1.714em;
}
.dsq-comment-header {
  background-color: whitesmoke !important;
  border-top: 1px solid silver !important;
  border-bottom: 1px solid silver !important;
  margin-bottom: 1.15em !important;
}
.dsq-header-time {
  margin-left: 0 !important;
}
.dsq-comment-header cite {
  font-variant: small-caps;
  margin-left: 0 !important;
}
.dsq-comment-footer {
  font-size: 75% !important;
  margin-top: 1px !important;
}
#dsq-options {
  background: whitesmoke;
  border-bottom: 1px solid silver;
  border-top: 1px solid silver;
  padding: 0 0 0 1em;
}
#dsq-comments-count {
  margin-top: 0.8em !important;
  margin-bottom: 1.2em !important;
}
#dsq-extra-links {
  padding-left: 0 !important;
}
#dsq-extra-links li img {
  display: none;
}
#dsq-options-toggle {
  color: silver;
  font-size: 75% !important;
}
#dsq-add-new-comment {
  margin-top: 1.19em !important;
  margin-bottom: 1.25em !important;
}
/* The following position, width and height ensure
 * that none of the body in the iframe shows through.
 */
form#comment {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white !important;
}
/* @end */
/* @group LibraryThing */
span.LTtitle {
  display: none;
}
div.LTitem {
  display: inline;
  margin-right: 0.7em;
}
div.LTprovided {
  display: none;
}
/* @end */
/* @group Last.fm */
#lastfm a {
  margin-right: 0.7em;
}
/* @end */
/* @group Delicious */
.delicious-posts ul,
.delicious-posts li,
.delicious-banner {
  margin: 0;
  padding: 0;
}
.delicious-posts li {
  list-style-position: outside;
  margin-bottom: 1em;
  margin-left: 1em;
  text-align: justify;
}
.delicious-banner {
  display: none;
}
.delicious-post a {
  font-weight: bold;
}
p.delicious-extended {
  font-size: 100%;
  display: inline;
}
p.delicious-extended:before {
  content: ' — ';
}
/* @end */
/* @group Footer */
#footer {
  margin-top: 20px;
  color: grey;
  font-size: 87.5%;
  line-height: 1.3em;
}
#footer address {
  position: relative;
  margin: .5em 0 0 0;
  text-align: right;
}
#footer a {
  font-variant: small-caps;
  font-style: normal;
  color: #77d;
  text-decoration: none;
}
#footer .copyright {
  position: absolute;
  left: 0;
  text-align: left;
  display: block;
}
#footer .engine {
  position: absolute;
  text-align: right;
  display: block;
  right: 0;
}
/* @end */
/* @group Figures and images */
dl.figure {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}
dl.figure dd {
  color: #333;
  font-size: 0.875em;
  margin: 0.875em auto 0 auto;
  line-height: 1.14em;
  text-align: justify;
  width: 85%;
}
/* @end */
/* @group Equations */
div.maruku-equation {
  display: block ;
  text-align: center;
}
div.maruku-equation img.maruku-png {
  position: relative;
  top: -0.75em;
}
/* @end */
/* .prev-next */
.prev-next {
  position: relative;
  height: 24px;
}
.prev-next .next {
  float: right;
}
/* tag_box ======================================================== */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0 ;
  overflow: hidden;
}
.tag_box li {
  list-style: none;
  line-height: 1.8em;
}
.tag_box.inline li {
  float: left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  border-radius: 3px;
  border: 1px dashed #ccc;
  text-decoration: none;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
#cat-left {
  position: absolute;
  top: -30px;
  left: -20px;
  display: none;
  cursor: pointer;
}
#cat-right {
  position: absolute;
  top: -30px;
  right: -20px;
  cursor: pointer;
  display: none;
}
#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
/*----------------custom----------------------------*/
/* @group Code */
pre,
code {
  /*font-family: "DejaVu Sans Mono",Consolas,"Liberation Mono",Menlo,Courier,monospace;*/
  font-family: "SFMono-Regular", "DejaVu Sans Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.3em;
}
#post > pre {
  overflow: auto;
  display: block;
  padding: 8.5px;
  margin: 9px 0 9px 0;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  white-space: pre;
  word-break: keep-all;
}
#post > pre .prettyprint {
  margin-bottom: 18px;
}
#post > pre code {
  background-color: transparent;
}
.highlight {
  margin: 0;
}
/* @end */
#page li {
  /*word-break: break-all;*/
  word-wrap: break-word;
}
ol {
  text-indent: 2em;
  margin-bottom: 20px;
}
#page a {
  /*word-break:break-all;*/
  word-wrap: break-word;
}
p img {
  max-width: 100%;
}
p > img {
  margin: 5px auto;
}
.dsq-brlink {
  display: none;
}
.emphnext {
  font-size: 1.3em;
  margin: 0px;
  color: #333;
}
.github {
  float: right;
  cursor: pointer;
  margin-top: 7px;
}
.github img {
  width: 32px;
  height: 32px;
}
.posts {
  margin-top: 40px;
}
.posts h2 {
  line-height: 1.25em;
  font-weight: bold;
  clear: left;
  font-family: inherit;
  font-size: 1em;
  margin: 0.9em 0 0.3em 0;
}
@media screen and (max-width: 900px) {
  #site {
    margin: 5px 10px;
  }
  #page,
  #disqus_thread {
    padding: 16px;
    box-shadow: none;
  }
  #footer {
    display: none;
  }
  #toTop img {
    width: 29px;
    height: 38px;
  }
}
@media screen and (max-width: 500px) {
  #page,
  #disqus_thread {
    background: white;
    border: 1px solid #ddd;
  }
  #disqus_thread {
    background: #eee;
  }
  #post > pre,
  #post > .highlight {
    margin-left: -16px;
    margin-right: -16px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  a {
    color: #0E60B1;
  }
  .linenos {
    display: none;
  }
}
.prev-next {
  font-size: 14px;
  height: auto;
  overflow: hidden;
}
.prev-next .prev {
  display: inline-block;
}
.prev-next .next {
  margin-bottom: 8px;
}
.prev-next a {
  margin-top: 30px;
  background: #eee;
  border-radius: 4px;
  padding: 0 5px;
}
#post {
  font-family: georgia, "Source Sans Pro", "Helvetica Neue", Arial, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
#post > .title {
  font-size: 1.4em;
  margin: 0px;
  color: #333;
  font-weight: 700;
  text-align: center;
}
#post .post-meta {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #444;
  font-size: 0.9em;
}
#post .post-meta span {
  margin-right: 10px;
}
#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
  font-size: 1em;
  line-height: 1.25;
  margin: 0.9em 0 0.3em 0.7em;
  font-weight: bold;
  clear: left;
  color: #333;
  position: relative;
}
#post h3 {
  text-indent: 1em;
}
#post h2:before,
#post h3:before,
#post h4:before,
#post h5:before,
#post h6:before {
  content: "#";
  color: #42b983;
  position: absolute;
  left: -0.7em;
  top: -2px;
  font-size: 1.2em;
  font-weight: bold;
}
#post h3:before,
#post h4:before,
#post h5:before,
#post h6:before {
  content: "*";
}
#analysis {
  display: none;
}
